#answered-state-feedback
{
    width: 200px;
    text-align: center;
}

.unanswered
{
    opacity: 0.5;
}

.answered
{
    opacity: 1;
}

.unanswered, .answered
{
    transition: opacity 0.5s linear;
}
